@import "tailwindcss";

@theme {
  --color-blue-thm: rgb(81, 112, 255);
}

/* default styles */
* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
